.picture-frame {
    display: inline-block;
    text-align: center;
    margin: 25px;
    width: fit-content;
    color: lightpink;
    border: 5px solid lightpink;
    border-radius: 5px;
    cursor: pointer;
}
.picture-frame:hover {
    border-color: lightgreen;
    color: lightgreen;
    opacity: .8;
}

.picture-frame > img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}


